run = "npm run dev"
hidden = [".config", ".next", "node_modules", ".turbo"]
modules = ["nodejs-20:v8-20230920-bd784b9"]

[packager]
language = "nodejs"
  [packager.features]
  packageSearch = true
  guessImports = true
  enabledForHosting = true

[nix]
channel = "stable-23_05"

[env]
XDG_CONFIG_HOME = "$REPL_HOME/.config"
PATH = "$REPL_HOME/node_modules/.bin:$REPL_HOME/.config/npm/node_global/bin:$PATH"
npm_config_prefix = "$REPL_HOME/.config/npm/node_global"

[deployment]
run = ["npm", "run", "build"]
deploymentTarget = "cloudrun"
ignorePorts = false

[[ports]]
localPort = 3000
externalPort = 80 